<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-light"><%= pluralize(tweet.errors.count, "error") %> al crear el nuevo tweet:</h5>

      <ul class="list-unstyled text-light">
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5><%= form.label "Nuevo Tweet", class: 'form-label text-light pt-2'  %></h5>

  <div class="field">
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <br>

  <div class="actions">
    <button type="submit" class="btn btn-success mb-2">Crear</button>
  </div>
<% end %>
