<p id="notice"><%= notice %></p>

<div class="container text-center bg-primary">
  <% if current_user %>
    <%= form_with model: @tweet do |form| %>
      <div class="field">
        <h5><%= form.label "Nuevo Tweet", class: 'form-label text-light pt-2'  %></h5>
        <%= form.text_area :content, class: 'form-control' %>
      </div>
        <div class="actions">
        <button type="submit" class="btn btn-success mb-2">Crear</button>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<%= paginate @tweets %>
<br>
<% @tweets.each do |tweet| %>
<div class="card text-center">
  <div class="card-header">
    <%= tweet.username %>
    <%= tweet.userpicture %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= tweet.content %></p>
  </div>
  <div class="card-footer text-muted">
  <% start_time = tweet.created_at %>
  <% end_time = Time.current %>
  <%= link_to distance_of_time_in_words(start_time, end_time), tweet %>
  </div>
</div>
<br>
<% end %>
<br>
<%= paginate @tweets %>