<div class="container text-center bg-primary">
  <% if current_user %>
  <%= render 'form', tweet: @tweet %>
  <% end %>
</div>
<br>
<br>

<%= form_with url: "/tweets", method: :get, class: "form-inline" do |form| %>
    <div class="form-group mx-sm-3 mb-2">
     <%= form.label :query, "Filtrar proyectos: " %>
      <%= form.text_field :content, class:'form-control' %>
      </div>
     <%= form.submit "Buscar", class: 'btn btn-success mb-2' %>
   <% end %>
   <br>


<div class="container text-center">
<% @tweets.each do |tweet| %>
<div class="card text-center">
  <div class="card-header">
    <%= image_tag(tweet.user.picture, class: 'card-img-top') %>
    <%= tweet.user.username %>
    <%= tweet.user.picture %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= tweet.content %></p>
  </div>
  <div class="card-footer text-muted">
  <% start_time = tweet.created_at %>
  <% end_time = Time.current %>
  <%= link_to distance_of_time_in_words(start_time, end_time), tweet %>
  <br>
  <%= link_to 'Retweet', retweet_tweet_path(tweet.id), method: :post %>
  </div>
</div>
<br>
<% end %>
<%= paginate @tweets %>
</div>