<div class="container text-center bg-primary">
  <% if current_user %>
  <%= render 'form', tweet: @tweet %>
  <% end %>
</div>
<br>
<br>




<div class="container text-center">
<% @tweets.each do |tweet| %>
<div class="card text-center">
  <div class="card-header">
    <%= image_tag(tweet.user.picture, class: 'card-img-top') %>
    <%= tweet.user.username %>
    <%= tweet.user.picture %>
  </div>
  <div class="card-body">
  <p class="card-text">
    <% contentarray = tweet.content.split(' ') %>
    <% i = 0 %>
    <% string = "" %>
    <% contentarray.each do %>
        <% if contentarray[i][0] == '#' %>
          <% hashtag = contentarray[i].sub "#", "%23" %>
          <%=  link_to contentarray[i], "/tweets?content=#{hashtag}&commit=Buscar" %>
          <%= ' ' %>
        <% else %>
          <%= contentarray[i].to_s %>
          <%= ' ' %>
        <% end %>
      <% i += 1 %>
    <% end %>
  </p>
  </div>
  <div class="card-footer text-muted">
  <% start_time = tweet.created_at %>
  <% end_time = Time.current %>
  <%= link_to distance_of_time_in_words(start_time, end_time), tweet %>
  <br>
  <%if user_signed_in? %>
  <%= link_to 'Retweet', retweet_tweet_path(tweet.id), method: :post %>
  <% end %>
  </div>
</div>
<br>
<% end %>
<%= paginate @tweets %>
</div>