<div class="container">
<div class="row mx-auto p-3">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4 text-center">
      <%= image_tag(@tweet.user.picture, class: 'card-img-top') %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= @tweet.user.username %></h4>
          <p class="card-text">
            <% contentarray = @tweet.content.split(' ') %>
            <% i = 0 %>
            <% string = "" %>
            <% contentarray.each do %>
                <% if contentarray[i][0] == '#' %>
                  <% hashtag = contentarray[i].sub "#", "%23" %>
                  <%=  link_to contentarray[i], "/tweets?content=#{hashtag}&commit=Buscar" %>
                  <%= ' ' %>
                <% else %>
                  <%= contentarray[i].to_s %>
                  <%= ' ' %>
                <% end %>
              <% i += 1 %>
            <% end %>
          </p>
          <p>
          <%= link_to(retweet_tweet_path(@tweet.id), method: :post) do %>
            <i class="fas fa-retweet"> | </i>
          <% end %>
          <%= @tweet.retweets.count %>
          <% if @tweet.likes.where(user_id: current_user).count > 0 %>
            <%= link_to(tweet_likes_path(@tweet.id), method: :post) do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to(tweet_likes_path(@tweet.id), method: :post) do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= @tweet.likes.count %>
          </p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 text-center" style="max-width: 540px;">
<% @likes.where(tweet_id: @tweet.id).each do |like|%>
	  <h3><%= image_tag(like.user.picture, class: 'card-img-top') %> | <%= like.user.username %> | <i class="fas cora fa-heart"></i></h3>
<% end %>
</div>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> | <%= link_to 'Back', tweets_path %>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>  
</div>
</div>